# Server
PORT=5000
NODE_ENV=development

# Google Cloud - Places API (New)
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here

# MongoDB Atlas connection string
MONGO_URI=MONGO_URI=mongodb+srv://<username>:<password>@cluster0.jqtkldz.mongodb.net/cafe-finder?retryWrites=true&w=majority&appName=Cluster0

# Frontend origin (for CORS)
CLIENT_ORIGIN=http://localhost:5173